@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');

*{
    font-family: 'Raleway';
}

.soju_logo{
    width: 120px;
    height: 110px;
}
.nav_item{
    transition: all .4s ease;
    
}
.nav_item:hover{
    border-bottom: 1px solid #272522;
}
.hero{
    background-image: url(../../static/images/hero3-1.png);
    height: 85vh;
    padding-top: 8vh;
}

.hero_btn{
    width: 160px;
}

.profile_bg{
    background-image: url(../../static/images/profile2.png);
    background-size: cover;
}
.sign{
    background-image: url(../../static/images/profile2.png);
    background-size: cover;
    height: 50vh;
}